.container {
    flex: 1;
    margin: 0 15px;
  }
  
  .label {
    flex: 1;
    margin-bottom: 10px;
    margin-right: -80px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
  }
  
  .input {
    width: 50%;
    padding: 10px;
    margin-right: -20px;
    margin-top: 20px;
    border: 2px solid #242424;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: aliceblue;
    color: #000000;
    text-align: center;
  }
  
  .input:focus {
    outline: none;
    border-color: #667b91;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
  }
  
  .input.invalid {
    border-color: #e74c3c; 
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.3); 
  }
  