.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #242424;
    text-align: center;
    position: relative;
  }
  
  .teamName {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #ecf0f1;
  }
  
  .teamName:hover {
    background-color: #e0e6e8;
    transform: translateY(-2px);
  }
  
  .vs {
    margin: 0 30px;
    color: #ffffff;
    font-size: 28px;
  }
  
  .input {
    font-size: 24px;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid #667b91;
    border-radius: 8px;
    outline: none;
    width: 200px;
    text-align: center;
  }
  
  .input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
  }
  
  
.error {
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(235, 62, 62, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  z-index: 1000;
  animation: fade-in 0.1s ease-in-out;
}

